{#
  External Secrets Operator — Cert-Controller ServiceAccount

  Variables:
    - app_namespace: Kubernetes namespace (default: "external-secrets")
#}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-secrets-cert-controller
  namespace: {{ app_namespace | default('external-secrets') }}
  labels:
    app.kubernetes.io/name: external-secrets-cert-controller
    app.kubernetes.io/instance: external-secrets
    app.kubernetes.io/version: {{ eso_version | default('v0.9.13') | quote }}
    app.kubernetes.io/component: cert-controller
    app.kubernetes.io/part-of: golden-master
