---
apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name | default('neo4j-auth') }}
  namespace: {{ app_namespace | default('neo4j') }}
  labels:
    app.kubernetes.io/name: {{ app_name | default('neo4j') }}
type: Opaque
stringData:
  NEO4J_AUTH: "neo4j/{{ neo4j_password }}"
