{#
  Vault ServiceAccount

  Variables:
    - namespace: Kubernetes namespace (default: "vault")

  Usage:
    ansible.builtin.template:
      src: templates/serviceaccount.yaml.j2
      dest: /tmp/vault-manifests/serviceaccount.yaml
#}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: vault
  namespace: {{ vault_namespace | default('vault') }}
  labels:
    app.kubernetes.io/name: vault
    app.kubernetes.io/component: secrets-management
    app.kubernetes.io/part-of: golden-master
