---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ app_name | default('traefik') }}
  namespace: {{ app_namespace | default('traefik') }}
  labels:
    app.kubernetes.io/name: {{ app_name | default('traefik') }}
    app.kubernetes.io/instance: {{ app_name | default('traefik') }}
    app.kubernetes.io/managed-by: idi-phase5
